In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\admin\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: backcall in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%load_ext sql

In [8]:
%sql sqlite://

In [14]:
%%sql
CREATE TABLE World
(
name varchar(15),
continent varchar(10),
area float,
population float,
gdp float
);

# i ran this command twice thats why it is showing this table already exists.

 * sqlite://
(sqlite3.OperationalError) table World already exists
[SQL: CREATE TABLE World
(
name varchar(15),
continent varchar(10),
area float,
population float,
gdp float
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
%%sql
INSERT INTO World VALUES
('Afghanistan', 'Asia',652230, 2500100, 20343000),
('Albania', 'Europe',28748, 2831741, 12960000),
('Algeria', 'Africa',2381741, 37100000, 188681000),
('Andorra', 'Europe',468, 78115, 3712000),
('Angola', 'Africa',1246700, 20609294, 100990000)
;

 * sqlite://
5 rows affected.

[]

In [12]:
%%sql
select * from World;

 * sqlite://
Done.

[('Afghanistan', 'Asia', 652230.0, 2500100.0, 20343000.0),
 ('Albania', 'Europe', 28748.0, 2831741.0, 12960000.0),
 ('Algeria', 'Africa', 2381741.0, 37100000.0, 188681000.0),
 ('Andorra', 'Europe', 468.0, 78115.0, 3712000.0),
 ('Angola', 'Africa', 1246700.0, 20609294.0, 100990000.0)]

In [15]:
%%sql
select name,population,gdp from World
where area > 3100000 or population > 25000000 or gdp > 100000000;

 * sqlite://
Done.

[('Algeria', 37100000.0, 188681000.0), ('Angola', 20609294.0, 100990000.0)]